workflows/humanness-survey-notifier.json
{
  "name": "Humanness Survey Notifier",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 1 */3 *"
            }
          ]
        }
      },
      "name": "Quarterly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "id": "schedule-trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, email, full_name FROM public.users WHERE subscription_status = 'active'"
      },
      "name": "Get Active Users",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        450,
        300
      ],
      "id": "get-users"
    },
    {
      "parameters": {
        "jsCode": "// Get current quarter\nconst now = new Date();\nconst year = now.getFullYear();\nconst month = now.getMonth() + 1;\nconst quarter = Math.ceil(month / 3);\nconst currentPeriod = `${year}-Q${quarter}`;\n\nreturn $input.all().map(item => ({\n  json: {\n    ...item.json,\n    current_period: currentPeriod\n  }\n}));"
      },
      "name": "Add Current Quarter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ],
      "id": "add-quarter"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id FROM public.humanness_post_launch_surveys WHERE user_id = '{{ $json.id }}'::uuid AND survey_period = '{{ $json.current_period }}' LIMIT 1"
      },
      "name": "Check Survey Submitted",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        850,
        300
      ],
      "id": "check-survey"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-not-submitted",
              "leftValue": "={{ $json('Check Survey Submitted').length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Survey Not Submitted?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1050,
        300
      ],
      "id": "check-not-submitted"
    },
    {
      "parameters": {
        "url": "={{ `${$env.API_GATEWAY_URL || 'http://localhost:3000'}/api/email/send` }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $json('Add Current Quarter').email, subject: `Quarterly AI Message Quality Survey - ${$json('Add Current Quarter').current_period}`, body: `Hello ${$json('Add Current Quarter').full_name},\\n\\nWe'd like to get your feedback on AI message quality.\\n\\nPlease complete our quarterly survey: ${$env.WEB_APP_URL || 'http://localhost:3000'}/humanness-survey?user_id=${$json('Add Current Quarter').id}&period=${$json('Add Current Quarter').current_period}\\n\\nThank you!`, from: 'research@no-spray-no-pray.com', prospect_id: $json('Add Current Quarter').id, template_id: null }) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.API_SERVICE_TOKEN }}"
            }
          ]
        }
      },
      "name": "Send Survey Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1250,
        200
      ],
      "id": "send-email"
    }
  ],
  "connections": {
    "Quarterly Schedule": {
      "main": [
        [
          {
            "node": "Get Active Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Users": {
      "main": [
        [
          {
            "node": "Add Current Quarter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Current Quarter": {
      "main": [
        [
          {
            "node": "Check Survey Submitted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Survey Submitted": {
      "main": [
        [
          {
            "node": "Survey Not Submitted?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Survey Not Submitted?": {
      "main": [
        [
          {
            "node": "Send Survey Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-16T12:00:00.000Z",
  "versionId": "1"
}

