workflows/monitoring-deliverability-alerts.json
{
  "name": "Monitoring - Deliverability Health Alerts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.API_URL || 'http://localhost:3000' }}/api/campaigns/deliverability-health",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.API_SERVICE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "check-deliverability",
      "name": "Check Deliverability Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-health-red",
              "leftValue": "={{ $json.body?.data?.health_status || $json.health_status }}",
              "rightValue": "red",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-if-red",
      "name": "If Health = Red",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "🚨 Deliverability Health: RED - Bounce rate: {{ $json.body?.data?.bounce_rate || 'N/A' }}%, Spam complaints: {{ $json.body?.data?.spam_complaints || 'N/A' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-slack-alert",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 200]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Check Deliverability Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Deliverability Health": {
      "main": [
        [
          {
            "node": "If Health = Red",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Health = Red": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "monitoring-deliverability-alerts"
}

