workflows/monitoring-sentry-webhook.json
{
  "name": "Monitoring - Sentry Webhook Error Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sentry-error",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "sentry-error-handler"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SENTRY_DSN ? $env.SENTRY_DSN.replace(/^https:\\/\\/([^@]+)@([^/]+)\\/(.+)$/, 'https://$2/api/$3/store/') : 'https://sentry.io/api/projects/store/' }}",
        "authentication": "noAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Sentry-Auth",
              "value": "Sentry sentry_version=7, sentry_key={{ $env.SENTRY_DSN ? $env.SENTRY_DSN.match(/https:\\/\\/([^@]+)@/)[1] : '' }}, sentry_client=n8n/1.0"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.body.error?.message || $json.body.message || 'N8N Workflow Error' }}"
            },
            {
              "name": "level",
              "value": "={{ $json.body.level || 'error' }}"
            },
            {
              "name": "tags",
              "value": "={{ { workflow: $json.body.workflow_name || 'unknown', node: $json.body.node_name || 'unknown' } }}"
            },
            {
              "name": "extra",
              "value": "={{ $json.body }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "sentry-api",
      "name": "Send to Sentry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Error sent to Sentry' } }}"
      },
      "id": "response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send to Sentry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Sentry": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "errorWorkflow": ""
  },
  "id": "monitoring-sentry-webhook"
}

